.ant-modal-footer {
  display: none !important;
}

.create-store-brand-modal-container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: fit-content; */
}
.create-store-brand-modal-container p {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.create-store-brand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.create-store-brand-button button {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 100px;
  border-radius: 50px;
}
.store-modal-button, .brand-modal-button {
  border: 1px solid green;
}
