.edit-campaign-button{
    background: transparent;
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    border: none;
    margin: 20px auto;
    width: 95%;
    visibility: hidden;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
}


@media screen and (max-width: 780px) {
   .edit-campaign-button{
    visibility: visible;
   }
  }