.store-main-container .stores-sub-main-container {
    padding: 40px;
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .store-main-container .store-cards-container {
    overflow-y: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .store-main-container .country-flags {
    margin: 12px auto;
  }
  
  .individual-store-container {
    width: calc(260px, 2vw, 184px);
    height: 250px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    padding-top: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .individual-store-container .modifier-buttons-container {
    opacity: 0;
    transition: all 0.5s;
  }
  
  .individual-store-container:hover .modifier-buttons-container {
    opacity: 1;
    visibility: visible;
  }
  
  .store-image-container {
    width: 110px;
    height: 100px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .store-image-container img {
    width: 60%;
  }
  
  .individual-store-container .modifier-buttons-container {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }
  
  .store-info {
    margin-top: 10px;
  }
  
  .store-info h1 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-size: "inter";
  }
  
  .store-info p {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }
  



  @media screen and (max-width: 632px){
    .store-main-container .store-cards-container{
        grid-template-columns: repeat(auto-fill, minmax(236px, 2fr));
    }
  }
  @media screen and (max-width: 585px){
    .store-main-container .store-cards-container{
        grid-template-columns: repeat(auto-fill, minmax(191px, 2fr));
    }
    .store-info h1{
        font-size: 20px;
    }
  }