/* nizam */
/* nizam */
/* .edit-store-main2 * {
  outline: 1px solid red;
} */

.edit-store-main2 {
  background: white;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: clamp(2%, 8vh, 40px);
  margin-top: 10px;
}
/* No country in store view page */
/* .create-store-ant-input {
  width: clamp(388px, 5vh, 388px);
} */
.edit-store-imgs {
  display: flex;
  gap: 50px;
}

.edit-store-headers {
  margin-top: 15px;
}
.edit-store-headers h3 {
  padding: 0 0 0 50px;
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 500;
}

.edit-store-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
}

.edit-store-img-green5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.edit-store-img-gray {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.edit-store-img-green5 p {
  padding-top: 5px;
  color: #20c275;
  font-size: 16px;
  font-weight: 400;
}

.edit-store-img-green5 img {
  background-color: #20c275;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
}

.edit-store-img-gray p {
  padding-top: 5px;
  color: #a7b9b0;
  font-size: 16px;
  font-weight: 400;
}

.edit-store-img-gray img {
  background-color: #a7b9b0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
}

/* dash animation */

.edit-store-dash-green {
  width: 100px;
  height: 2px;
  background-color: transparent;
  position: relative;
}

.edit-store-dash-green.animated {
  background-image: linear-gradient(to right, #d7c010 50%, transparent 50%);
  background-size: 20px 2px;
  animation: dash 1s linear infinite;
}

/* edit store details section */

.edit-store-details2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.edit-store-logo {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-store-logo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  height: 100px;
  width: 100px;
  padding: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.edit-store-logo:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: ease-out;
}

.edit-store-logo img {
  width: 80px;
  height: 80px;
}

.edit-store-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.1rem;
}

.edit-store-form > div {
  display: flex;
  flex-direction: column;
}

.edit-store-form div > label {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}

.edit-store-form div > input {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  height: 50px;
  width: 380px;
  padding: 10px;
}

.edit-store-form div > select {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  height: 50px;
  width: 380px;
  padding: 10px 20px 10px 10px;
}

.edit-store-form div > textarea {
  border: 1px solid rgba(0, 0, 0, 0.06);
  height: 320px;
}

.form-submit-btn3 {
  outline: none;
  border: 1px solid rgb(218, 216, 216);
  color: black;
  bottom: 30px;
  width: 170px;
  padding: 10px 0px;
  border-radius: 50px;
  background: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: clamp(10px, 10vh, 100%);
  margin-right: 50px;
}
.form-submit-btn:hover {
  background: #5a6acf;
  color: white;
  transition: all 0.4s;
}
.form-submit-btn-main3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

@media (max-width: 950px) {
  .edit-store-form {
    display: grid;
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    /* grid-gap: 3.1rem; */

    padding: 0 16px 15px 16px;
  }
  .form-submit-btn-main3 {
    justify-content: center;
  }
  .edit-store-headers h3 {
    text-align: center;
    padding: 20px 0 50px 0;
  }
  .form-submit-btn3 {
    width: 60%;
    margin: 0;
  }
  .edit-store-form {
    width: 100%;
  }

  .edit-store-main {
    position: relative;
    padding-bottom: clamp(10%, 10vh, 100%);
    overflow-x: hidden;
  }

  /* No country in store view page */
  /* .create-store-ant-input {
    width: 100% !important;
  } */
}
