.post-table {
    width: 100%;
    margin: 0 auto;
  }
  .view-campaign-table-row {
    /*  only change post table**/
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    justify-content: start;
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }
 
  .view-campaign-table-row:hover {
    background: rgba(98, 86, 233, 0.05);
  }
  .view-campaign-table-row input[type="checkbox"] {
    width: clamp(14px, 2vw, 1.1rem);
    height: clamp(14px, 2vw, 1.1rem);
  }
  .view-campaign-table-row .country-flags {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
  }
  .view-campaign-table-row .table-data h4 {
    display: flex;
    gap: 5px;
  }
  .view-campaign-table-row .table-data h4 > img {
    width: clamp(12px, 2vw, 16px);
  }
  .view-campaign-table-row .table-data h4 ~ p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
  }
  .view-campaign-table-row .table-data .tooltip {
    color: black;
    border: 0.5px solid #f1f1f1;
    background-color: #f1f1f1;
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 12px;
  }
  .view-campaign-table-row .post-title-photo-container {
    display: grid;
    grid-template-columns: 30px 70px 1fr;
    align-items: center;
    gap: 20px;
  }
  .view-campaign-table-row .post-title-photo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    word-wrap: break-word;
  }
  .view-campaign-table-row .table-data.expire-time {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    display: flex;
    gap: 5px;
  }
  
  .view-campaign-table-row .table-data.expire-time > .display-only-on-mobile {
    display: none;
  }
  .view-campaign-table-row .table-data:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  }
  .modifier-buttons-container{
    opacity: 0;
  }
  

  .view-campaign-table-row:hover .modifier-buttons-container :is(img, span) {
    opacity: 1;
  }
  .view-campaign-table-row:hover .modifier-buttons-container button {
    margin-left: clamp(5px, 1vw, 20px);
    margin-right: clamp(5px, 1vw, 20px);
    opacity: 1;
    width: fit-content;
  }
  
  /* responsive========================= */
  @media screen and (max-width: 780px) {
    .view-campaign-table-row {
      grid-template-columns: 3fr 1fr;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
      min-height: 150px;
      position: relative;
      margin-bottom: 20px;
    }
  
    .view-campaign-table-row .post-title-photo-container {
      grid-template-columns: 20px 50px 1fr;
      gap: 10px;
    }
    .view-campaign-table-row .table-data h4 ~ p {
      visibility: hidden;
    }
  
    .view-campaign-table-row .table-data.expire-time > .display-only-on-mobile {
      display: block;
    }
    .view-campaign-table-row .country-flags {
      justify-content: center;
      margin-left: 0;
      padding-top: 18px;
    }
    .store-table .table-data:nth-child(2) {
      order: 4;
      grid-column: 1 / span 4;
      border-top: 1px solid gainsboro;
    }
    .store-table .table-data:nth-child(3) {
      position: absolute;
      left: 110px;
      top: 60px;
    }
  }