.ant-modal-footer {
  display: none !important;
}

.post-delete-modal-container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.post-delete-modal-container>p {
  max-width: 80%;
  text-align: center;
  font-size: clamp(16px, 2vw, 20px);
}

.post-delete-modal-container>form {
  display: flex;
  gap: 20px;
}

.post-delete-modal-container>form button {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  color: rgba(0, 0, 0, 0.50);
  border-radius: 5px;
  width: clamp(130px, 14vw, 150px);
  height: clamp(50px, 3vw, 50px);
  font-size: clamp(16px, 1.5vw, 20px);
  gap: clamp(7px, 1vw, 14px);
  cursor: pointer;
}

.post-delete-modal-container>form button:last-child {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background: #5a6acf;
  color: white;
}