.opps-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 131px;
}
.opps-main-container .opps-container {
  width: 221px;
  height: 102px;
  text-align: center;
}
.opps-main-container .opps-container .opps-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}
.opps-main-container .opps-container .opps-header-container h1 {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.opps-container > p {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.opps-container span {
  color: #000;
}
