/* .edit-store-main * {
  outline: 1px solid red;
} */
.edit-store-main3 {
  background: white;
  height: 100vh;
  padding-bottom: clamp(2%, 8vh, 40px);
  overflow: auto;
  scroll-behavior: smooth;
  margin-top: 10px;
}
.create-store-ant-input1 {
  width: clamp(388px, 5vh, 388px);
}
.edit-store-img {
  display: flex;
  gap: 50px;
}

.edit-store-header {
  margin-top: 15px;
}
.edit-store-header h3 {
  padding: 0 0 0 50px;
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 500;
}

.edit-store-img {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-store-img-green {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.edit-store-img-gray {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.edit-store-img-green p {
  padding-top: 5px;
  color: #20c275;
  font-size: 16px;
  font-weight: 400;
}

.edit-store-img-green img {
  background-color: #20c275;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
}

.edit-store-img-gray p {
  padding-top: 5px;
  color: #a7b9b0;
  font-size: 16px;
  font-weight: 400;
}

.edit-store-img-gray img {
  background-color: #a7b9b0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
}

/* dash animation */

.edit-store-dash-green {
  width: 100px;
  height: 2px;
  background-color: transparent;
  position: relative;
}

.edit-store-dash-green.animated {
  background-image: linear-gradient(to right, #d7c010 50%, transparent 50%);
  background-size: 20px 2px;
  animation: dash 1s linear infinite;
}

/* edit store details section */

.edit-store-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.edit-store-logo {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  height: 100px;
  width: 100px;
  padding: 90px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.edit-store-logo:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: ease-out;
}

.edit-store-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.placeholder-for-howtouse {
  padding: 50px;
}

.edit-store-form {
 display: flex;
 flex-direction: column;

}
.store-name{
  display: flex;
  flex-direction: row;
}
.edit-store-form > div {
  display: flex;
  flex-direction: column;
}

.edit-store-form div > label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}

.edit-store-form div > input {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  height: 50px;
  width: 100%;
  padding: 10px;
}

.edit-store-form div > select {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  height: 50px;
  width: 100%;
  padding: 10px 20px 10px 10px;
}

.edit-store-form div > textarea {
  border: 1px solid rgba(0, 0, 0, 0.06);
  height: 320px;
}

.form-submit-btn {
  outline: none;
  border: 1px solid rgb(218, 216, 216);
  color: black;
  bottom: 30px;
  width: 170px;
  padding: 10px 0px;
  border-radius: 50px;
  background: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: clamp(10px, 10vh, 100%);
  margin-right: 50px;
}
.form-submit-btn:hover {
  background: #5a6acf;
  color: white;
  transition: all 0.4s;
}
.form-submit-btn-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

@media (max-width: 950px) {
  .edit-store-main3 {
    padding: none;
  }
  .form-submit-btn-main {
    justify-content: center;
  }
  .edit-store-form {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .form-submit-btn {
    width: 70%;
    margin: 0;
  }

  .edit-store-header h3 {
    padding: 15px 0 40px 0;
    text-align: center;
  }
  .edit-store-details {
    width: 100%;
  }
  /* .edit-store-form > div {
    width: 100%;
  } */
  .edit-store-form {
    width: 100%;
  }
  .edit-store-form div > select {
    width: 100%;
  }
  .create-store-ant-input1 {
    width: 100%;
  }
}
